
:root{
    --black:#000000;
    --white:#FFFFFF;
    --champagne:#EEE0CB;
    --cambridge-blue:#839788;
   
}

/*general style*/
*{
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body,html{
    margin:0;
    padding:0;
    font-family:verdana;
  
}
p{
    line-height:25px;
    
}

a{
    color:var(--black);
    text-decoration:none;
}

h1{
    font-size:69px;
    font-weight:900;
    color:var(--black);
    font-family:verdana;
    max-width:700px;
    text-transform:capitalize;
    font-family:roboto;
    

}
li.phone,li.mail{
    display:flex;
}

.circle{
    font-size:11px;
    color:var(--cambridge-blue);
    margin-left:13px;
    white-space: nowrap;
}




hr{
    border-top:5px solid var(--champagne);
    max-width:400px;
    margin:auto;
   
}




h2:not(.banner h2){
    text-decoration:underline;
    text-decoration-color: var(--champagne);
    text-decoration-thickness:4px;
    text-underline-offset: 19px;
    text-align:center;
    padding:21px;
    text-transform: capitalize;
   }
   
    
   .top-icons i{
    color:var(--white);
    cursor:pointer;
    position:relative;
    margin-left:7px;
   }


   .noOfItems{
    height:10px;
    width:10px;
    background:red;
    border-radius:100%;
    padding:8px;
    font-size:9px;
    font-weight:900;
    position:absolute;
    top:11px;
    display:flex;
    justify-content:center;
    align-items:center;
}


 .add-btn{
    cursor:pointer;
 }

a.btn{
    color:var(--black);
    font-weight:bold;
    font-size:14px;
   }
  
a.btn:hover{
    box-shadow:inset 200px 0 0 0 var(--black);
    transition:ease-in-out 0.5s; 
    color:var(--white);

}
.btn.new{
    background:var(--champagne);
    display:block;
    width:100%;
}
a.btn.new{
    color:var(--black);
}
a.btn.new:hover{
    color:var(--white);
}


.btn{
     border:none;
     display:block;
     background:var(--cambridge-blue);
     cursor:pointer;
     padding:13px 14px;
     max-width:200px;
     width:100%;
     margin-top:22px;
     font-weight:bold;
     text-transform:capitalize;
     text-align:center;
     box-shadow:inset 0 0 0 0 var(--cambridge-blue);
     transition:ease-in-out 0.5s;
     color:white;
     white-space: nowrap;
    }

 
 

 .send-btn{
    border:none;
    background:var(--champagne);
    color:var(--black);
    padding:6px 9px;
    width:100px;
    margin-top:33px;
    cursor:pointer;
 }



 
/*end of general style*/

.main-text{
    max-width:750px;
    width:100%;
    display:flex;
    flex-direction:column;
    }
     
    
    .main-text .btn{
       
        display: block;
        margin-top:63px;
    }   
    
    
.sub h3{
   padding:3px;
    background:var(--cambridge-blue);
    margin-bottom:7px;
    margin-top:11px;
 }   
    
    .main-picture{
       max-width:500px;
       width:100%;
       display:block;
       height:auto;
    }
   /*header style*/
   
header{
   
    max-width:100%;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 0;
    margin:0;
    background-color:var(--black) ;
    position:sticky;
    top:0;
    overflow: hidden;
    
       
   }
   
   nav{
     margin:0;
     padding:0;
   
   }
    nav ul{
       display: flex;
       max-width: 200px;
       width:100%;
    }
   
   
    nav a{
       color:var(--white);
       text-decoration:none;
       font-family:verdana;
       text-transform:uppercase;
       font-size: 11px;
       display:block;
       padding: 11px;
    }
   
   
   #About{
       display:flex;
       flex-direction:column;
       gap:62px;
   }
   
   
   
   nav a:hover{
       color:#000000;
       background:#FFFFFF;
       
   }
   
   .shop:hover{
   
       background:white;
   }
   
   #shop:hover{
       color:black;
       
   }
   
   .hamburger{
       color:var(--white);
       display:none;
       cursor:pointer;
   }
   
   nav li{
       list-style:none;
       text-transform:capitalize;
       font-weight:bold;
       font-size:14px;
       font-family:verdana;
   }
   
   header i{
       font-size:26px;
   }
   
   
   .logo p{
       font-size:20px;
       font-weight:bold;
       color:var(--cambridge-blue);
       line-height:11px;
       font-family:"zen dots";
       text-align: center;
    }
   
    header .logo{
     width:100px;
     margin:auto;
      
   }
   
   a.cart-btn{
       background-color:var(--cambridge-blue);
       color:var(--white);
       padding:11px;
       text-align:center;
       margin:11px;
   }
   
   .modal p{
       flex:1;
      }
   
   
   figure{
       flex:1;
    }
   
   
   .modal a.btn{
       margin:auto;
       display:block;
       width:100%;
       
   }
   
   
   .stars{
       color:var(--champagne);
       font-weight:bold;
   }
   article >.stars{
       text-align:center;
       padding:22px;
   }
   
   .close{
       position:absolute;
       top:7px;
       right:12px;
       font-size:21px;
       color:var(--black);
       cursor:pointer;
   }
   
   
   
   .top-icons{
       color:var(--white);
       cursor:pointer;
       margin-right:7px;
       position:relative;
       
   }


/*footer style*/


footer{
    background:linear-gradient(to right,#EEE0CB,#888074);
    color:var(--black);
    position:relative;
    max-width:100%;
    z-index:-99;
    display:flex;
    flex-direction:column;
    margin-top:99px;
    
   }


   li.list-title{
    font-weight:bold;
  
}
.gategory-list{
    margin-top:66px;
}

  .footer-top-text{
    display:flex;
    align-items:baseline;
    gap:46px;
    max-width:100%;
    width:100%;
    justify-content:center;
    flex-wrap:wrap;
    padding:21px;
  
   
}


.footer-top-text .logo{
    font-size:77px;
    background:var(--black);
    padding:21px;
    
    }
    
    
 
 .footer-top-text li{
    color:var(--black);
    font-weight:400;
    font-size:16px;
    padding:5px;
 }  
 .footer-top-text a{
    color:var(--black);
    font-weight:400;
    font-size:16px;
   
 }  
.footer-links li,a{
    font-size:15px;
   
}
.footer-top-text ul{
    margin:0;
    padding:0;
    
}


.bold{
    font-weight:bold;
}


.media{
display:flex;
gap:30px;
}

li.bold-text{
    font-weight:bold;
   
}

li.phone{
    display:flex;
    
}


.log-wrap{
    display:flex;
    flex-direction:column;
    gap:22px;
}

.top-pic{
    display:flex;
    flex-direction: column;
}


.footer-bottom{
    display:flex;
    margin-top:55px;
    justify-content:space-between;
    padding:11px;
    align-items:center;
    background-image:linear-gradient(to right,#EEE0CB,#888074);
    border-bottom:3px solid var(--black);
   
 
}
.new{
    background:var(--champagne);
    color:var(--black);
    margin-top:33px;
}
.footer-bottom p{
    color:var(--black);
    font-weight:900;
    text-transform:capitalize;
    font-size:13px;
    font-family:verdana;
    letter-spacing: 3px;
   
}


.payments{
    display:flex;
    gap:11px;
}
   


.media i{
    font-size:33px;
}

.payments{
    display:flex;
}
.footer-container{
    display:flex;
    flex-wrap:wrap;
}
#home{
    display:flex;
    flex-direction:column;
   
}
.footer-icons{
    display:flex;
    gap:11px;
}

/*About page styling*/
#about{
    display:flex;
    flex-direction:column;
    gap:30px;
}
.container article{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.container a.btn{
    display:block;
    margin-bottom:11px;
    background:var(--cambridge-blue);
    color:var(--white);
}
.container p{
    max-width:500px;
    padding:11px;
    text-align:center;
}

.container picture{
    flex:1;
}

.about-footer{
    margin-top:87px;
}

footer a{
    font-weight: bold;
}






















img{
    max-width:100%;
    height:100%;
    display:block;
}

.offers-wrapper{
    display:flex;
}






@media screen and (max-width:540px){
        
    .main-text{
     margin-top:17px;
     margin-left: 22px;
    }
    
   .questions h2{
     font-size:18px;
   }
   

    
    .container{
     grid-template-columns: 1fr;
    }
    
    
    
    header{
     padding:7px;
 }
    
  .product-container{
    
     flex-direction:column;
  }  
   
    
    .circle{
     margin-left:3px;
    }

    .icon-wrapper{
     grid-template-columns:1fr;
    }
     
    
 .seller-wrapper{
         flex-direction: column;
     }
 
 .seller-wrapper .item-title{
     
     margin-left:10px;
 
 }    
     
     
 .left-gallery{
     display:flex;
     flex-direction:row;
 }
 
   .gallery-title{
     display:none;
   }  
    
   .gallery-title{
     display:block;
   }

   .right-side,.ratings{
     width:80%;
   }
     
     header{
         justify-content:space-around;
     }
      
     #contact{
         width:100%;
     }
        
     
   .banner{
        
         flex-direction:column;
         align-items: center;
        
     }
     
     
 .blazer{
     
        flex-direction:column;
     }

     
 .contact-block{
        grid-template-columns: 1fr;
      }
     
     
 .contact-box{
         width:90%;
     }

 .info-box{
         width:90%;
     }
     
 .shoe-container{
         grid-template-columns:1fr;
         width: 100%;
     }
 
 .shop-container{
         grid-template-columns:1fr;
        
        
     }
     
 .blazer-gallery{
         flex-direction: column;
     }
     
 nav ul{
         display:none;
     }
     
 .hamburger{
         display:block;
    
     }
     
 .list-wrapper{
       
     flex-direction:column;
        
     }
      
 .blazer{
         
     flex-direction:column;
 }

 .product{
         
         flex-direction:column;
         align-items:center;
        
     }
      

h2{
 font-size:21px;
}
 .hamburger{
     width:11px;
 }


 .logo p{
 font-size:15px;
}


.info-box{
 margin:13px;

}


.ratings{
 grid-template-columns: 1fr;
}
.item-container{

 grid-template-columns:1fr;
 flex-direction:column;
 width:80%;
}

.figures-wrapper{
 grid-template-columns:1fr;
}

.blazer-container{
 grid-template-columns: 1fr;
 width:100%;
}

.staff-section{
 grid-template-columns:1fr;
}


.footer-top-text{
 flex-direction:column;
 align-items: center;
 text-align: center;
}

.footer-bottom{
     flex-direction: column;
     gap: 11px;
     padding: 22px;
}

.q-container h3{
font-size: 10px;

}

.offers-wrapper{
 flex-direction:column;
}

}



 

 
