:root{
    --black:#000000;
    --white:#FFFFFF;
    --champagne:#EEE0CB;
    --cambridge-blue:#839788;
   
}
/*general style*/
p{
    line-height:25px;
    font-family:verdana;
}

a{
    
    text-decoration:none;
}

*{
box-sizing:border-box;
margin:0;
padding:0;

}
body,html{
    margin:0;
    padding:0;
    font-family:verdana;
   
    
}

body{
    display:block;
}

h1{
    font-size:69px;
    font-weight:900;
    color:var(--black);
    font-family:verdana;
    max-width:700px;
    text-transform:capitalize;
    font-family:barlow,sans-serif;
    font-family:roboto;
    

}
li.phone,li.mail{
    display:flex;
}

.circle{
    font-size:19px;
    color:var(--cambridge-blue);
    margin-left:20px;
}

h2{
    font-family: zen dots;
    text-align:center;
    margin-top:50px;
    padding:21px;
    text-transform:capitalize;
    

}

hr{
    border-top:5px solid var(--champagne);
    width:25%;
    margin:auto;
   
}


img{
    object-fit:cover;
    max-width: 100%;
    display:block;
    height:100%;
   }

 a{
    text-decoration:none;
    font-family:verdana;
}

a.btn{
    color:white;
    font-size:14px;
   
    
   }
  
a.btn:hover{
    box-shadow:inset 200px 0 0 0 var(--black);
    transition:ease-in-out 0.5s; 

}
.btn.new{
    background:var(--champagne);
}
a.btn.new{
    color:var(--black);
}
a.btn.new:hover{
    color:var(--white);
}


.btn{
     border:none;
    display:block;
     background:var(--cambridge-blue);
     cursor:pointer;
     padding:13px 14px;
     max-width:200px;
     margin-top:22px;
     font-weight:bold;
     text-transform:capitalize;
     text-align:center;
     box-shadow:inset 0 0 0 0 var(--cambridge-blue);
     transition:ease-in-out 0.5s;
     color:white;
     white-space: nowrap;
    

   }
 .txt{
   
 } 

 .send-btn{
    border:none;
    background:var(--cambridge-blue);
    color:var(--white);
    padding:6px;
    width:100px;
    margin-top:33px;
    cursor:pointer;
 }



 
/*end of general style*/

.main-text{
    max-width:750px;
    max-width:100%;
    display:flex;
    flex-direction:column;
    

   
    }
     .main-picture{
        width:500px;
        display:block;
    }
   
   
   
   
   
   /*header style*/
   
   header{
    display:flex;
    justify-content:space-around;
    align-items:center;
    max-width:100%;
    background-color:var(--black) ;
    padding:7px;
    position:sticky;
    top:0;
    
   
    


}
   
    nav{
        margin:0;
        padding:0;
    
    }  
    nav a{
        color:var(--white);
        text-decoration:none;
        font-family:verdana;
        text-transform:uppercase;
        font-size: 12px;
        
    }

   
   
   .user-icon{
    color:var(--white);
    
   }
   
   nav li{
    color:var(--white);
    font-weight:900;
    display:flex;
    gap:12px;
    align-items:center;
}


.hamburger{
    color:var(--white);
    display:none;
    cursor:pointer;
}
li{
    list-style:none;
    text-transform:capitalize;
    font-weight:bold;
    font-size:14px;
    
    font-family:verdana;
}
header ul{
    display:flex;
    gap:19px;
    
}

header i{
    font-size:26px;
}


.logo p{
    font-size:25px;
    font-weight:bold;
    color:var(--cambridge-blue);
    width:150px;
    line-height:11px;
    font-family:zen dots;
    text-align:center;
}


.basket-name{
    margin-left:11px;
    text-transform:capitalize;
    font-size:11px;
}


a.cart-btn{
    background-color:var(--cambridge-blue);
    color:var(--white);
    padding:11px;
    text-align:center;
    margin:11px;
}

.modal p{
    flex:1;
   
}


 .image {
    transition:0.2s;
}

 figure{
    flex:1;
 }




 

.modal a.btn{
    margin:auto;
    display:block;
    width:100%;
    
}


.stars{
    color:var(--champagne);
    font-weight:bold;
}


.close{
    position:absolute;
    top:55px;
    right:22px;
    font-size:33px;
    color:var(--black);
    cursor:pointer;
}



.top-icons{
    color:var(--white);
    cursor:pointer;
}
.master{
    background:var(--white);
}



.basket{
    color:var(--white);
    color:var(--black);
}

.pay-info{
    display:flex;
   max-width:100%;
    justify-content: center;
    gap:56px;
   padding:4px;
    background:var(--black);
    align-items: center;
    }

.sale{
    font-family:dancing script;
    
}







.section-text{
font-size:33px;
text-align:center;
max-width:600px;
font-size:20px;
margin:auto;
text-transform:capitalize;
line-height:40px;
font-family:verdana;
color:var(--black);
padding:22px;

}



.item-title{
    display:flex;
    text-align:center;
    margin-top:11px;
    max-width:100%;
   width:100%;
    }


.section-list{
    display:flex;
    flex-direction:column;
}


.image{
    flex:1;
}


.item-name{
   max-width:70%;
   white-space: nowrap;
  
   padding:12px;
    text-transform:capitalize;
    font-style:italic;
    width:100%;
    font-size:15px;
    color:var(--black);
}

.item-price{
    max-width:30%;
   
  
   padding:12px;
    color:var(--black);
    font-weight: bold;
    width:100%;
    font-size:14px;
    
}

header p{
    color:var(--white);
}



.log{
    display:block;
    color:var(--champagne);
    font-family:dancing script;

}
.small-title{
    text-transform:uppercase;
    display:block;
    margin-bottom:33px;
   
}

.banner{
    max-width:100%;
    background-image:linear-gradient(to right,#EEE0CB,#888074);
   
    height:auto;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
   
}

.banner h2{
    font-family:dancing script;
    font-size:43px;
}

.main-text p{
    max-width:600px;
    width:100%;
}

.product-name{
    font-size:23px;
    font-family: verdana;
}




.list-wrapper{
    display:flex;
    gap:45px;
    justify-content:center;
    max-width:100%;
    width:100%;
    
   
}
figure{
    display:block;
}



.price{
    background:var(--cambridge-blue);
    color:var(--white);
    width:300px;
    text-align:center;
    display:flex;
    padding:30px;
    text-align:center;
    font-weight:900;
    font-size:33px;
    
}
.bottom-main{
    width:100%;
    background:var(--black);
    padding:22px;
    margin-top:22px;
}
.title{
       background:var(--section-title);
       color:var(--white);
       width:100%;
       padding:30px;
       text-align:center;
       font-weight:900;
       font-size:33px;
}
section{
    max-width:100%;
}

.section-head{
    display:flex;
    width:100%;
    
}

.offer{
    background:var(--cambridge-blue);
    color:var(--white);
    width:200px;
    
    right:0;
    top:0;
    padding:22px;
    font-family:dancing script;

}
.product-wrapper{
    
    background-image:linear-gradient(to right,#EEE0CB,#888074);
   
}

.product-container{
    display:flex;
    gap:40px;
    align-items:center;
}

 h3{
   text-align:center;
    text-transform:uppercase;
    font-family:verdana;
    font-weight:900;
    padding:22px;
    white-space:nowrap;
    font-size:13px;
   
    
}






.info{
    color:var(--black);
    max-width:500px;
    text-align:center;
    width:100%;
}

.text-section{
    margin-top:60px;
}

.featured{
    font-family:dancing script;
    color:var(--black);
    font-size:43px;
    font-weight:900;
    text-align:center;
}

.left{
    color:var(--white);
    background:var(--white);
    width:500px;
    margin:0;
    flex:1;
    font-size:64px;
    text-align:center;
    
}

.box{
      display:flex;
      
}

.section-top{
    width:100%;
    display:flex;
    background-color:var(--black);
  
    
}
.pay-info-text{
    color:var(--white);
    
    font-weight:bold;
    font-family:verdana;
    font-size:12px;
}
.section-top img{
  width:40px;
}
.special{
    color:var(--black);
    background:var(--champagne);
    width:80%;
    padding:30px;
    text-align:center;
    font-size:33px;
}

.cost{
    color:var(--white);
    width:20%;
    background:var(--black);
    padding:30px;
    text-align:center;
    font-size:33px;
}
.offer-info{
    background:var(--cambridge-blue);
    color:var(--black);
    padding:33px;
   
    max-width:400px;
   width:100%;
    text-align:center;
   
    
}

.offer-info a{
    margin:23px auto;
}

.smart{
    display:flex;
    border:9px solid red;
    align-items:center;
}

.smart-box{
    background:var(--champagne);
    height:300px;
    width:300px;
    color:var(--black);
}

.infos-wrapper{
         display:flex;
         flex-direction:column;
         max-width:100%;
         width:100%;
}
.offer-wrapper{
    display:flex;
    max-width:100%;
    justify-content:center;
    margin:0;
    padding:43px;
    background:linear-gradient(to right,#EEE0CB,#888074);
}



.icon p{
    color:var(--black);
    max-width:300px;
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    font-size:14px;
}
.icon{
    display:flex;
    flex-direction:column;
    align-items:center;
   
}

.icon-title{
font-weight:bold;
text-transform:capitalize;
margin-top:20px;
font-size:16px;
font-family:verdana;

}

    

.icon-wrapper{
    display:flex;
    margin-top:45px;
    justify-content:center;
    gap:22px;
   
    max-width:100%;
    width:100%;
    
}



.icon i{
    font-size:63px;
}
.word{
    color:var(--white);
}


.image-text{
    text-align:center;
    max-width:600px;
    color:var(--black);
   height:100%;
   
}
.image-text a{
    margin:25px auto;

}


/*testimonials section styling*/
.reviews{
    display: flex;
    justify-content: center;
    margin-top: 45px;
    max-width: 100%; 
    gap:22px;
    padding:15px;
    border-top:1px solid var(--champagne);
    
}
    
    


.buttons{
    display:flex;
    gap:79px;
    font-size:15px;
    margin-top:11px;
    cursor:pointer;
}

.left-box{
    
    
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    
}

#userpic{
   
    width:500px;
    height:400px;
   
   
}

.right-box{
   
  
   
}


.buttons{

    font-weight:900;
}
.button-text{
    
    font-weight:bold;
    text-transform:uppercase;
    font-size:12px;
    font-family:verdana;
}

.global-reviews{
   
}

.job{
    display:block;
    
    text-transform:uppercase;
    letter-spacing:5px;
    font-size:11px;
}
.name{
    
    text-transform:capitalize;
    font-weight:bold;
    font-size:22px;
    
}
.bttn,.bttn1{
    border:none;
    outline:none;
    background:var(--black);
    color:var(--white);
   padding:5px;
    width:100px;
    cursor:pointer;
    font-weight:900;
    text-transform:capitalize;
}

.content{
    max-width:500px;
    text-align:center;
}
.content p{
    margin-top:33px;
}


.global-reviews{
    margin-top:33px;
    padding:11px;
}
.grade-text{
    display:block;
    font-size:12px;
}
.review-box{
   

    display:none;
    
    padding:33px;
   
}




.boxreview{
    
}



textarea{
    display:block;
    margin:auto;
}

.review-btn{
    border:none;
    background:var(--cambridge-blue);
    color:var(--white);
    padding:6px;
    width:100px;
    margin-top:33px;
    cursor:pointer;
    
}

/*footer style*/


footer{
    background:linear-gradient(to right,#EEE0CB,#888074);
    color:var(--black);
  
    position:relative;
    max-width:100%;
    z-index:-99;
    
    display:flex;
    flex-direction:column;
   
    
   
}
li.list-title{
    font-weight:bold;
  
}


  .footer-top-text{
    display:flex;
    align-items:baseline;
    gap:46px;
    max-width:100%;
    width:100%;
    justify-content:center;
   flex-wrap:wrap;
   padding:21px;
  
   
}


.footer-top-text .logo{
    font-size:77px;
    background:var(--black);
    padding:21px;
    
    }
    
    
 
 .footer-top-text li{
    color:var(--black);
    font-weight:400;
    font-size:16px;
    padding:5px;
 }  
 .footer-top-text a{
    color:var(--black);
    font-weight:400;
    font-size:16px;
   
 }  
.footer-links li,a{
    font-size:15px;
   
}
.footer-top-text ul{
    margin:0;
    padding:0;
    
}


.bold{
    font-weight:bold;
}


.media{
display:flex;
gap:32px;
}

li.bold-text{
    font-weight:bold;
   
}

li.phone{
    display:flex;
    
}








.log-wrap{
    display:flex;
    flex-direction:column;
    gap:22px;
}




.top-pic{
    display:flex;
    flex-direction: column;
}


.footer-bottom{
    display:flex;
   
    margin-top:55px;
    justify-content:space-between;
    padding:11px;
    align-items:center;
    background:var(--white);
   
  border-bottom:3px solid var(--black);
   
 
}
.new{
    background:var(--champagne);
    color:var(--black);
    margin-top:33px;
}
.footer-bottom p{
    color:var(--black);
    font-weight:900;
    text-transform:capitalize;
    font-size:13px;
    font-family:verdana;
    letter-spacing: 3px;
   
}







.payments{
    display:flex;
    gap:11px;
}
   


.media i{
    font-size:33px;
}


.top-link{
    width:40px;
    cursor:pointer;
    background:var(--cambridge-blue);
    border:none;
    color:var(--white);
    font-weight:900;
    padding:15px;
    position:absolute;
    right:17px;
    bottom:10px;
    
   
}
.top-link a{
    color:var(--white);
    font-size:13px;
    text-align:center;
}


.payments{
    display:flex;
}
.footer-container{
    display:flex;
    flex-wrap:wrap;
}
#home{
    display:flex;
    flex-direction:column;
    gap:30px;
}


/*About page styling*/
#about{
    display:flex;
    flex-direction:column;
    gap:30px;
}




.container article{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.container a.btn{
    display:block;
    margin-bottom:11px;
    background:var(--cambridge-blue);
    color:var(--white)
}
.container p{
    max-width:500px;
    padding:11px;
    text-align:center;
}

.container picture{
    flex:1;
}

.about-footer{
    margin-top:87px;
}

footer a{
    font-weight: bold;
}
.container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
   
   

}

.message{
    font-size:73px;
    font-family:dancing script;
    text-align: center;
    padding:33px;
}



.staff-section{
    display:flex;
    
}
.staff{
    display:flex;
    flex-direction:column;
}








.seller-wrapper{
    display:flex;
    justify-content:center;
    gap:17px;
    max-width:100%;
    padding:22px;
   
    
}
.num{
    display:block;
    font-size:40px;
    font-weight:bold;
    
}

.num-text{
    font-weight:bold;
    font-size:14px;
    text-transform:capitalize;
    color:var(--cambridge-blue);
    white-space:nowrap;
    padding:11px;
    
    
}
.seller-box{
    width:500px;
    height:751;
    background:var(--cambridge-blue);
}


.figures{
    display:flex;
    flex-direction:column;
    align-items:center;
    
    padding:22px;

}
.figures-wrapper{
    display:flex;
    justify-content:center;
    max-width:100%;
    width:100%;
    color:var(--black);
   
    gap:22px;
   
    
    
}

.figure-icon{
    font-size:33px;
}

.comment{
    color:var(--cambridge-blue);
    font-weight:900;
}

.mobileMenu{
    background:var(--champagne);
    width:0%;
    right:0;
    left:0;
    bottom:0;
    top:0;
    
    position:fixed;
    transition:0.2s;
    display:flex;
    justify-content:center; 
    align-items:center;
    overflow:hidden;
   }

   .mobile ul,li{
     display:flex;
     flex-direction:column;
     color:var(--black);
     

   }

   .mobile a{
    color:var(--black);
    font-size:33px;
    text-align:center;
    padding:11px;
  } 


  .mobileModal{
    height:100%;
    right:0;
    left:0;
    bottom:0;
    top:0;
    position:fixed;
    transition:0.3s;
  }

  
  .modal{
    background:var(--white);
    box-shadow:7px 2px 3px 6px rgba(0, 0, 0, 0.4);
    bottom:0;
    position:relative;
    overflow:hidden;
    right:0px;
    top:0px;
    position:fixed;
    width:0%;
    transition:0.2s;
    display:flex;
    flex-direction:column;
   
    
}

.overlay{

    background:var(--black);
    bottom:0;
    width:0%;
   opacity:45%;
    right:0px;
    top:0px;
    left:0;
    position:fixed;
    transition:0.1s;

}

#home{
  display:flex;
  flex-direction:column;
}

   /*shop page styling*/

   .shop-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
   max-width:60%;
   margin:50px auto;
   gap:25px;
   row-gap: 100px;
 
   }
.shop-container a{
    color:var(--black);
}
 #shop h1{
    border-bottom: 1px solid var(--champagne);
    margin:33px;
 }  

  
   
   

   
  










   
  
  

@media screen and (max-width:780px){

.figures-wrapper{
    display:flex;
    flex-direction:column;
    margin:auto;
  }
.btn{
    width:100%;
}
  .seller-wrapper{
    display:flex;
    flex-direction:column;
    gap:31px;
  }
h2{
    font-size:16px;
}
.circle{
    font-size:16px;
}


  nav ul {
    display:none;
   }
   .hamburger{
    display:block;
   }
   header{
    display:flex;
    justify-content:space-between;
    width:100%;
   }


.footer-top-text{
   display:flex;
   flex-direction:column;
}

.top {
gap:33px;
}

img{
   width:100%;
}
body{
   overflow-x:hidden;
   
}





.banner{
   display:flex;
   flex-direction:column;
  justify-content:center;

  
}

h1{
font-size:40px;
}
.list-wrapper{
display:flex;
flex-direction: column;

}

.footer-top-text{
   display:flex;
   flex-direction:column;
   align-items:center;
   text-align:center;
}

.payments{
    display:flex;
    flex-direction: column;
}

.footer-bottom{
   display:flex;
   flex-direction:column;
}








.offer-wrapper{
display:flex;
flex-direction: column;

}
.icon-wrapper{
display:flex;
flex-direction: column;

}
.feat-product-wrapper{
display:flex;
flex-direction: column;

}
.reviews{
display:flex;
flex-direction:column;
}
.product-container{
    display:flex;
    flex-direction:column;
}

.staff-section{
    display:flex;
    flex-direction:column;
}
.main-text h3{
    font-size:11px;
}
.container{
    display:grid;
    grid-template-columns:1fr;
}
   

.seller{
    display:flex;
    flex-direction: column;
}

.staff-section{
    display:flex;
    flex-direction:column;
}




}



















 









/* Styles for desktop screens */
@media screen and (min-width: 768px) {
    /* Your desktop styles here */
}

/* Styles for tablets */
@media screen and (max-width: 767px) {
    /* Your tablet styles here */
}

/* Styles for phones */
@media screen and (max-width: 480px) {
    /* Your phone styles here */


}  
